<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
        {% block content1 %}
		<title>regist</title>
        {% endblock %}
        {% load static %}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css"
			href="{% static 'css/style.css'  %}" />
	</head>
	<body>
		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="rightheader">
							<p id="p">

								<br />
							</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a href="#">main</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">
					<p id="whereami">
					</p>
                    {% block content2 %}
					<h1>
						注册
					</h1>
                    <form action="{% url 'userapp:registfun' %}" method="post">
                        {% csrf_token %}
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<tr>
								<td valign="middle" align="right">
									用户名:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="username" onblur="check2()" /><span></span>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									真实姓名:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="name" />
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									密码:
								</td>
								<td valign="middle" align="left">
									<input type="password" class="inputgri" name="userpwd" />
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									性别:
								</td>
								<td valign="middle" align="left">
									男
									<input type="radio" class="inputgri" name="sex" value="True" checked="checked"/>
									女
									<input type="radio" class="inputgri" name="sex" value="False"/>
								</td>
							</tr>
							
							<tr>
								<td valign="middle" align="right">
									验证码:
									<img src="{% url 'userapp:captcha' %}"
                                    id="image_code" width="80px" height="30px"align="center">
									<a href="javascript:void(0)" id="a">看不清换一张!</a>
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="number" id="b" /><span id="sp1"></span>
								</td>
							</tr>
						</table>
						<p>
							<input type="submit" class="button" value="Submit &raquo;" />
						</p>
					</form>
				    {% endblock %}
                </div>
			</div>
			<div id="footer">
				<div id="footer_bg">
				ABC@126.com
				</div>
			</div>
		</div>
    {% block content3 %}
    <script src="/static/js/jquery-1.11.1.min.js" ></script>
    <script>
        $('#a').click(function fn() {
            var url = '{% url "userapp:captcha" %}?'+new Date().getTime();
            //刷新验证码
            $('#image_code').attr('src',url);
        });
        $('#b').blur(function f1() {

            var a = null;
            var b=document.getElementsByTagName('span')[1];
            b.innerHTML='<img src="{% static "img/5-121204193R5-50.gif" %}" style="width :14px">';
            if (window.XMLHttpRequest){
                a=new XMLHttpRequest();
            }else if (window.XMLHttpRequest){
                a=new ActiveXObject('Microsoft.XMLHTTP');
            }

            var url = '{% url "userapp:yz" %}';
            a.open('POST',url);

            a.setRequestHeader('Content-type','application/x-www-form-urlencoded');

            var val = $('#b')[0].value;
            a.send('name=' + val + '&csrfmiddlewaretoken={{ csrf_token }}');

            a.onreadystatechange = function () {
                if (a.readyState === 4 && a.status === 200) {
                    var res=a.responseText;
                    console.log(res);
                    var b=document.getElementsByTagName('span')[1];
                    if (res ==='true') {
                        b.innerHTML = "<img src='{% static "img/right.jpg" %}' style='width:14px' />";
                        $('.button')[0].disabled = false;
                    }else {
                        b.innerHTML = "<img src='{% static "img/error_3.jpg" %}' style='width:14px' />";
                        $('.button')[0].disabled = true;
                    }
                }
            }

        });

        setInterval(countTime,1000);

        function countTime() {
            var date1 = new Date();
            var p = document.getElementById('p');
            p.innerHTML = date1.getFullYear() + '/' + (date1.getMonth() + 1) + '/' + date1.getDate() + ' ' + date1.getHours() + ':' + date1.getMinutes() + ':' + date1.getSeconds() + ' ' + '星期' + date1.getDay()

        }

        function check2() {
                var a = null;
                var b=document.getElementsByTagName('span')[0];
                b.innerHTML='<img src="{% static "img/5-121204193R5-50.gif" %}" style="width :14px">';
                if (window.XMLHttpRequest){
                    a=new XMLHttpRequest();
                }else if (window.XMLHttpRequest){
                    a=new ActiveXObject('Microsoft.XMLHTTP');
                }

                var url = '{% url "userapp:checkname" %}';
                a.open('POST',url);

                a.setRequestHeader('Content-type','application/x-www-form-urlencoded');

                var val = document.getElementsByName('username')[0].value;
                a.send('name=' + val + '&csrfmiddlewaretoken={{ csrf_token }}');

                a.onreadystatechange = function () {
                    if (a.readyState === 4 && a.status === 200) {
                        var res=a.responseText;
                        var b=document.getElementsByTagName('span')[0];
                        if (res) {
                            b.innerHTML = "<img src='{% static "img/right.jpg" %}' style='width:14px' />";

                        }else {
                            b.innerHTML = "<img src='{% static "img/error_3.jpg" %}' style='width:14px' />";
                        }
                    }
                }
            }





    </script>
    {% endblock %}
	</body>
</html>
